<h2>Add Hatchback Car</h2>
<form action="/admin/addhatchback" method="POST">
    <input name="title" placeholder="Title" required>
    <input name="brand" placeholder="Brand" required>
    <input name="year" placeholder="Year" required>
    <input name="price" placeholder="Price" required type="number">
    <input name="fuelType" placeholder="Fuel Type">
    <input name="imagePath" placeholder="Image Path">
    <textarea name="description" placeholder="Description"></textarea>
    <button type="submit">Add Hatchback</button>
</form>
<a href="/admin/hatchback">Back to Hatchback List</a>
